@model RPM_Tool.Models.MortgageAndEscrow

@{
    ViewData["Title"] = "AddMortgageAndEscrow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddMortgageAndEscrow</h1>

<h4>MortgageAndEscrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMortgageAndEscrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MortgageProvider" class="control-label"></label>
                <input asp-for="MortgageProvider" class="form-control" />
                <span asp-validation-for="MortgageProvider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MortgageAndEscrowBill" class="control-label"></label>
                <input asp-for="MortgageAndEscrowBill" class="form-control" />
                <span asp-validation-for="MortgageAndEscrowBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
