@model RPM_Tool.Models.Vendor

@{
    ViewData["Title"] = "AddVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Vendor Bill</h1>

<h4>Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVendor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicePeformed" class="control-label"></label>
                <input asp-for="ServicePeformed" class="form-control" />
                <span asp-validation-for="ServicePeformed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceBill" class="control-label"></label>
                <input asp-for="ServiceBill" class="form-control" />
                <span asp-validation-for="ServiceBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
